In [1]:
import pandas as pd
import pickle
import json
import seaborn as sns
import pprint
import numpy as np
import math
import ast
import glob
import re
pp = pprint.PrettyPrinter(depth=6)
import matplotlib
import matplotlib.pyplot as plt
import log_parser as lp
import test as lr
matplotlib.rcParams['figure.figsize'] = (15.0, 5.0)
pd.set_option('display.max_columns', 120)
pd.set_option('display.max_rows', 450)

In [2]:
pkl_folder = "../../pkl"
csv_folder = "../../csv"

In [4]:
folder  = "../logs/test/logs6"
log_files = glob.glob(f"{folder}/*.log")
job_ids = list(map(lambda x: re.search("/(\d*)\.log", x)[1], log_files))
metrics = lp.load_jobs_log_metrics(folder)

In [5]:
job_ids[:1]

['94705857']

In [14]:
def load_and_extract_metrics(job_id):
    with open(f"{folder}/{job_id}.log", "r") as f:
        log = f.read()
    lp.joblogmetric(job_id, log=log)

In [15]:
%prun load_and_extract_metrics(94705857)

In [4]:
%%timeit
lr.multithread_fetching(job_ids[:30], False)

4.1 s ± 808 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
%%timeit
lr.singlethread_fetching(job_ids[:30], False)

36.6 s ± 1.03 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
JOB_LOG_METRICS_COLUMNS = ["job_id", "build_target","build_tool", "build_canceled_open_pr_on_branch"\
, "errors", "failures", "suspected_words", "warnings", "skipped_words", "lines", "words",\
    "exceptions", "error_classes", "tests_total", "tests_passed", "tests_failed", "tests_skipped", "failed_tasks"
    ]

In [9]:
%%timeit
lp.multiprocess_parsing(job_ids[:100], folder)

4.06 s ± 18.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
%%timeit
lp.singleprocess_parsing(job_ids[:100], metrics, folder)

10.8 s ± 25.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# Goal

Calculate ci metrics for each release and output a dataset with one entry for release and a list of metrics as features

In [3]:
tags = pd.read_csv(f"{csv_folder}/tags_updated.csv", index_col=0)
tags.Date = pd.to_datetime(tags.Date)
tags.head(2)

,actual_release_date,Tag,Sha,Date,month,year,major_version,jira_version
0,NaN,4.5.6,12d931e5a31e1692a428bbb34ba11cd63aebf998,2015-10-16 09:31:18,10,2015,4,4.5.6
1,NaN,4.5.7,e2afb0bff1b8be759789d2c1bc9348de6f519f83,2016-04-08 13:44:39,4,2016,4,4.5.7

### Import builds and jobs

In [4]:
builds = pd.read_csv(f"{csv_folder}/builds_cleaned.csv", index_col=0)
builds.head(2)

,number,pull_request_number,id,event_type,finished_at,pull_request_title,started_at,duration,state,started_at_day,started_at_month,started_at_year
0,6995,NaN,99118995,push,2015-12-28 16:34:08+00:00,NaN,2015-12-28 16:18:41+00:00,5361.0,failed,28.0,12.0,2015.0
1,6994,NaN,99100662,push,2015-12-28 14:36:03+00:00,NaN,2015-12-28 14:18:30+00:00,5953.0,passed,28.0,12.0,2015.0

In [5]:
jobs = pd.read_csv(f"{csv_folder}/allJobs.csv", index_col=0)
for datefield in ["started_at","created_at","finished_at","updated_at"]:
    jobs[f"{datefield}"] = pd.to_datetime(jobs[f"{datefield}"])
jobs.shape

(136983, 13)

### Import tag comparison pairs

In [6]:
tags_comparison = pd.read_csv(f"{csv_folder}/tags_comparison_final_updated_no_rc_and_milestones.csv", index_col=0)
tags_comparison.from_commit_date = pd.to_datetime(tags_comparison.from_commit_date)
tags_comparison.to_commit_date = pd.to_datetime(tags_comparison.to_commit_date)
tags_comparison.from_author_date = pd.to_datetime(tags_comparison.from_author_date)
tags_comparison.to_author_date = pd.to_datetime(tags_comparison.to_author_date)
tags_comparison = tags_comparison[2:]
tags_comparison[["from_tag", "to_tag"]]

   from_tag to_tag
2     5.1.1  5.1.2
3     5.1.2    5.2
4       5.2    5.3
5       5.3    5.4
6       5.4    5.5
7       5.5    5.6
8       5.6  5.6.1
9     5.6.1  5.6.2
10    5.6.1    6.0
11    5.6.2  5.6.3
12    5.6.3  5.6.4
13    5.6.4  5.6.5
14    5.6.5  5.6.6
15    5.6.6  5.6.7
16      6.0    6.1
17      6.1  6.1.1
18    6.1.1    6.2
19      6.2    6.3
20      6.3  6.3.1
21    6.3.1  6.3.2
22    6.3.2    6.4
23      6.4    6.5
24      6.5    6.6
25      6.6    6.7
26      6.7  6.7.1
27    6.7.1  6.7.2
28    6.7.1    7.0
29    6.7.2  6.7.3
30    6.7.3  6.7.4
31    6.7.4  6.7.5
32    6.7.5  6.7.6
33    6.7.6  6.7.7
34      7.0    7.1
35      7.1    7.2
36      7.2    7.3
37      7.3    7.4
38      7.4    7.5
39      7.5    7.6
40      7.6    7.7
41      7.7    7.8
42      7.8    7.9
43      7.9  7.9.1
44      7.9    8.0
45    7.9.1  7.9.3
46    7.9.3  7.9.4
47      8.0    8.1
48      8.1    8.2
49      8.2    8.3
50      8.3  8.3.1
51      8.3    8.4
52      8.4  8.4.1
53    8.4.1  8.4.2

## Import release commits

In [7]:
def replace_tags_with_jira(df):
    df = df.merge(tags[["Tag","jira_version"]], left_on="to_tag", right_on="Tag")\
    .drop(columns=["to_tag", "Tag"]).rename(columns={"jira_version":"to_tag"})
    df = df.merge(tags[["Tag","jira_version"]], left_on="from_tag", right_on="Tag")\
    .drop(columns=["from_tag", "Tag"]).rename(columns={"jira_version":"from_tag"})
    return df

### Import tags difference commits (git log tag1...tag2) (1)

In [8]:
tags_comparison_commits = pd.read_csv(f"{csv_folder}/tags_comparison_commits_no_rc_and_milestones.csv", index_col=0)
tags_comparison_commits.tail(2)

          from_tag       to_tag                                 ahead_sha
15603  8.4.1.35646  8.4.2.36762  7721c3eeab3202e91fb9c87dfaec4ba3a7b4d0df
15604  8.4.1.35646  8.4.2.36762  fd2cb0c84d052b9ea773503be71a3bb3cda13cd6

In [9]:
tags_comparison_commits  = replace_tags_with_jira(tags_comparison_commits)
tags_comparison_commits.rename(columns={"ahead_sha": "commitsha"}, inplace=True)
tags_comparison_commits.tail(2)

                                      commitsha to_tag from_tag
15603  7721c3eeab3202e91fb9c87dfaec4ba3a7b4d0df  8.4.2    8.4.1
15604  fd2cb0c84d052b9ea773503be71a3bb3cda13cd6  8.4.2    8.4.1

In [10]:
tags_comparison_commits.shape

(15605, 3)

### Import tags commits (1) + iterative PRs

In [11]:
tags_iterative_pr_commits = pd.read_csv(f"{csv_folder}/commits_for_tags/tags_pairs_iterative_commits.csv", index_col=0)
tags_iterative_pr_commits.tail(2)

           from_tag       to_tag                                 commitsha
122451  8.4.1.35646  8.4.2.36762  ed1a72601c559e86ccd96004c99157421b6bcb20
122452  8.4.1.35646  8.4.2.36762  7721c3eeab3202e91fb9c87dfaec4ba3a7b4d0df

In [12]:
tags_iterative_pr_commits  = replace_tags_with_jira(tags_iterative_pr_commits)
tags_iterative_pr_commits.tail(2)

                                       commitsha to_tag from_tag
122451  ed1a72601c559e86ccd96004c99157421b6bcb20  8.4.2    8.4.1
122452  7721c3eeab3202e91fb9c87dfaec4ba3a7b4d0df  8.4.2    8.4.1

In [13]:
tags_iterative_pr_commits.shape

(122453, 3)

### Import tags commits the ones nor in (1) or (2) assigned using Jira FixVersion for the issue in commitmessage

In [14]:
tags_fix_commits = pd.read_csv(f"{csv_folder}/commits_for_tags/tags_fix_commits.csv", index_col=0)
tags_fix_commits.tail(2)

     from_tag to_tag                                 commitsha
3245      8.4  8.4.1  34a0bc1a4e14e13a7d40a410b268d6ea7b0f3a40
3246    8.4.1  8.4.2  df64c184d1427f74592459b42093e8b0b6878c98

In [15]:
tags_fix_commits.shape

(3247, 3)